[Unit]
Description=SENG302 Quality Assurance (staging) backend service

[Service]
Type=simple
Restart=always
RestartSec=10
User=gitlab-runner
WorkingDirectory=/home/gitlab-runner
ExecStart=/usr/bin/bash staging-backend.sh

[Install]
WantedBy=multi-user.target
