[Unit]
Description=SENG302 Production Frontend service

[Service]
Type=simple
Restart=always
RestartSec=10
User=gitlab-runner
WorkingDirectory=/home/gitlab-runner
ExecStart=/usr/bin/bash production-frontend.sh

[Install]
WantedBy=multi-user.target
