/*
 * Created on Wed Feb 10 2021
 *
 * The Unlicense
 * This is free and unencumbered software released into the public domain.
 *
 * Anyone is free to copy, modify, publish, use, compile, sell, or distribute
 * this software, either in source code form or as a compiled binary, for any
 * purpose, commercial or non-commercial, and by any means.
 *
 * In jurisdictions that recognize copyright laws, the author or authors of this
 * software dedicate any and all copyright interest in the software to the public
 * domain. We make this dedication for the benefit of the public at large and to
 * the detriment of our heirs and successors. We intend this dedication to be an
 * overt act of relinquishment in perpetuity of all present and future rights to
 * this software under copyright law.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
 * ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * For more information, please refer to <https://unlicense.org>
 */

body {
  font: 14px Arial, sans-serif;
  line-height: 1.4em;
  background: #ffffff;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.app {
  display: flex;
  align-items: center;
  width: 800px;
  flex-direction: column;
}

.container-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-inner {
  width: 96%;
  max-width: 1400px;
}


.hidden {
  display: none;
}


.link {
  cursor: pointer;
}

.link:hover {
  opacity: 0.6;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
